{% extends "base.html" %}

{% block title %}Genre{% endblock %}

{% block content %}
    <div style="text-align: center;">
        <a href="/Index"><img src="../static/images/FlickFinderLogo.png"  alt="logo" width="250"></a>
    </div>
    <h1> <div style="text-align: center;"> Here is your recommended <span style="color: Red; "> {{gname}} </span> Film </div></h1>
    <br>
    <br>

    <div style="text-align: center;">
    <table class="results">
    {% for films in film %}
        <tr>
            <td> Your film choice is: <span style="color: Red; ">{{films[1]}} </span></td>
        </tr>
    {% endfor %}
    </table>
    </div>
    <br>
    <br>

    <button onclick="history.back()">Go Back</button>

{% endblock %}