{% extends "base.html" %}

{% block title %}Movie Recommendations{% endblock %}

{% block content %}

    <div class="container-fluid bg-1 text-center">
      <img src="../static/images/FlickFinderLogo.png"  alt="logo" width="1024"></a>
      <h1>Movie Recommendations</h1>
    </div>

    <div class="container-fluid bg-1 text-center padding=20px">    
        <h4>Need Inspiration? Tell us a Genre you fancy and our Movie Generator will suggest a film to watch!</h4>
    </div>

    <div class="row">
        <span class="img__wrap col-sm-2">
            <img class="img-fluid" src="../static/images/comedy.jpg" alt="Comedy"/>
        <div class="img__description_layer">
            <p class="img__description">Comedy</p>
        </div>
        </span>

        <span class="img__wrap col-sm-2">
            <img class="img-fluid" src="../static/images/action.jpg" alt="Action"/>
        <div class="img__description_layer">
        <p class="img__description">Action</p>
        </div>
    </span>

    <span class="img__wrap col-sm-2">
        <img class="img-fluid img_insert img" src="../static/images/horror.jpg" alt="Horror"/>
        <div class="img__description_layer">
        <p class="img__description">Horror</p>
        </div>
    </span>

    <span class="img__wrap col-sm-2">
        <img class="img-fluid" src="../static/images/superhero.jpg" alt="Supper Hero"/>
        <div class="img__description_layer">
            <p class="img__description">Super Heroes</p>
        </div>
    </span>

    <span class="img__wrap col-sm-2">
        <img class="img-fluid" src="../static/images/romance.jpg" alt="Romance"/>
        <div class="img__description_layer">
            <p class="img__description">Romance</p>
        </div>
    </span>
    </div>

    <form class="input" method="get">
        <input class="form-control form-entry" type="search" placeholder="Please input a Genre: Horror/Romance/Action/Heroes/Random" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
{% endblock %}