{% extends "base.html" %}

{% block title %}Times{% endblock %}

{% block content %}
    <div class="container-fluid bg-1 text-center">
        <img src="../static/images/FlickFinderLogo.png"  alt="logo" width="250"></a>
        <h1>Movie Times</h1>
    </div>

    <div class="container-fluid bg-1 text-center padding=20px">    
        <h4>Here are the Local film times for Cambridge:</h4>
    </div>
    <br>

    <div style="text-align: center;">
        <table class="filmstable">
            <tr>
            {% for header in headings %}
            <th>{{ header }}</th>
            {% endfor %}
            </tr>
    {% for shows in show %}
        <tr>
            <td> <a class="linky" href="/Filmshowings/{{shows[0]}}"> {{shows[1]}} </a></td>
            <td>{{shows[2]}}</td>
            <td> {{shows[3]}} </td>            
        </tr>
        {% endfor %}
    </table>

    <table class="filmstable">
    {% for time in time%}
        <tr>
            <td> <a href="/Filmshowings/{{fname}}/{{time[0]}}">  {{time[1]}} </a></td>
            <td>{{time[2]}} </td>
            <td>{{time[3]}} </td>
        </tr>
    {% endfor %}
    </table>

    <table class="filmstable">
    <tr>
    {% for header in heading %}
        <th>{{ header}}</th>
    {% endfor %}
    </tr>
    {% for venue in location %}
    <tr>
        <td>  {{venue[1]}} </td><td>  {{venue[2]}} </td><td>  {{venue[3]}} </td><td>  {{venue[4]}} </td>
    </tr>
    {% endfor %}
    </table>
    <br>

    <button onclick="history.back()">Go Back</button>
    </div>

{% endblock %}